@charset "UTF-8";
body {
  background-color: #000000;
  margin: 0;
  background-image: url(/img/decor.png);
  background-repeat: no-repeat;
  background-position: top right, center left;
}
body header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 400px;
  margin-left: 4%;
  z-index: 1000;
}
body header .header__logo {
  display: flex;
  text-align: center;
}
body header .header__logo h1 {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
}
body header .header-login {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
}
body header .header-login a {
  margin-left: 10%;
}
body a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid white;
  /* Добавляем подчеркивание сплошной линией черного цвета */
  padding-bottom: 1px;
}
body a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  /* Делаем подчеркивание прозрачным */
}
body main {
  /*max-width: 1400px;*/
  margin: 0 auto;
}
body main .wrapper {
  position: relative;
  z-index: 100;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
body main .wrapper .wrapper__text {
  position: relative;
  margin-top: 10%;
  margin-left: 5%;
  max-width: 700px;
}
body main .wrapper .wrapper__text h1 {
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
}
body main .wrapper .wrapper__text .wrapper__text__bottom {
  display: flex;
}
body main .wrapper .wrapper__text .wrapper__text__bottom h3 {
  font-family: "Noto Sans", sans-serif;
  line-height: 27px;
  font-weight: normal;
  font-size: 20px;
  margin: auto 90px 0;
  /* сверху | горизонтально | снизу */
}
body main .wrapper .wrapper__text .wrapper__text__bottom .Vl {
  width: 4px;
  /* Line width */
  height: 130px;
  /* Override in-line if you want specific height. */
  background-color: white;
  /* Line color */
  transform: rotate(30deg);
  transform-origin: bottom left;
}
body main .wrapper .wrapper__img {
  margin-left: auto;
}
body main .download {
  position: relative;
  z-index: 1000;
  margin: -80px 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body main .download .download__text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
}
body main .download .download__button {
  display: flex;
  margin-left: auto;
  color: #fff;
}
body main .download .download__button button {
  margin-right: 35px;
  flex-direction: row;
  width: 172px;
  height: 55px;
  background: none;
  border: 2px solid #ffffff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  cursor: auto;
}
body main .download .download__button button .button_text {
  margin: auto;
}
body main .download .download__button button .button_text h3 {
  font-size: 22px;
  margin: 0;
}
body main .download .download__button button .button_text h5 {
  font-size: 14px;
  margin: 0;
}
body main .download .download__button button:hover {
  opacity: 0.8;
}
body main .cokie {
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #212834;
  height: 95px;
  align-items: center;
}
body main .cokie .cokie__text {
  margin-left: 5%;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  line-height: 14px;
  font-weight: normal;
}
body main .cokie button {
  height: 50px;
  width: 132px;
  margin-right: 1%;
  background: #ffffff14;
  border: 0.5px solid #ffffff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.7;
}
body main .cokie button:hover {
  opacity: 1;
}
body main .contact {
  margin-top: 5%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .contact .box {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  width: 500px;
  height: 312px;
  border: 2px solid #fff;
  vertical-align: middle;
  margin-left: 5%;
}
body main .contact .box .box__text {
  font-size: 30px;
}
body main .contact .box .box__text .box__link {
  margin-top: 5%;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}
body main .mission {
  display: flex;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
}
body main .mission .mission__img {
  transform: translateX(-100%);
  width: 600px;
}
body main .mission .mission__text {
  width: 360px;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}
body main .mission .mission__text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
}
body main .mission .mission__text p {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body main .back {
  overflow: hidden;
  display: flex;
  margin-top: 5%;
}
body main .back img {
  z-index: 0;
  position: relative;
  width: 100%;
}
body main .back .gradient {
  position: absolute;
  width: 100%;
  height: 72vw;
  left: 0px;
  background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
}
body main .back .gradient .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
body main .back .gradient .phone img {
  width: auto;
}
body main .verification {
  color: #fff;
  /*background-image: url(/img/bar.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;*/
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .verification .verification__img {
  position: relative;
  margin-top: auto;
}
body main .verification .verification__img img {
  margin-left: 50px;
  margin-top: -1000px;
}
body main .verification .verification__text {
  margin-bottom: 10%;
  margin-top: auto;
  position: relative;
  width: 400px;
}
body main .verification .verification__text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  margin-top: 0;
}
body main .verification .verification__text p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body main .ellipse {
  position: absolute;
}
body main .integration {
  margin-top: 5%;
  display: flex;
  color: #fff;
  /* <div class="ladder"> <img src="/img/Test_Landing/Group 559.png" alt="" style="float: right;">
      <img src="/img/Test_Landing/Group 562.png" alt="" style="float: right; top: 170px; right: -50px;">
      <img src="/img/Test_Landing/Group 561.png" alt="" style="float: right; top: 170px; right: -50px;"> </div>
  <div class="ladder">  <img src="/img/Test_Landing/Group.png" alt=""></div>*/
}
body main .integration .integration__text {
  margin-left: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}
body main .integration .integration__text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
}
body main .integration .integration__text p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body main .integration .integration__img {
  margin-top: 150px;
  margin-left: -50px;
  min-width: 50%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
body main .integration .integration__img .ladder {
  height: 100%;
  margin-bottom: 5%;
}
body main .integration .integration__img .ladder img {
  position: relative;
}
body main .qrcode {
  position: relative;
  z-index: 2000;
  display: flex;
  color: #fff;
  align-items: flex-end;
  top: -400px;
}
body main .qrcode .qrcode__text {
  margin: 0 auto;
  width: 315px;
}
body main .qrcode .qrcode__text h1 {
  margin-top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  font-family: "Montserrat", sans-serif;
}
body main .qrcode .qrcode__text p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body main .qrcode .qrcode__text .qrcode__btn {
  margin-top: 50px;
  display: flex;
  width: 500px;
}
body main .qrcode .qrcode__text .qrcode__btn button {
  display: flex;
  margin-right: 35px;
  flex-direction: row;
  width: 212px;
  height: 55px;
  background: none;
  border: 1px solid #ffffff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  cursor: auto;
}
body main .qrcode .qrcode__text .qrcode__btn button img {
  margin: auto;
}
body main .qrcode .qrcode__text .qrcode__btn button .button_text {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body main .qrcode .qrcode__text .qrcode__btn button .button_text h3 {
  font-size: 22px;
  margin: 0;
  font-weight: normal;
}
body main .qrcode .qrcode__text .qrcode__btn button .button_text p {
  font-size: 14px;
  margin: 0;
}
body main .qrcode .qrcode__text .qrcode__btn button:hover {
  opacity: 0.8;
}
body main .qrcode .qrcode__img {
  z-index: 2500;
  display: flex;
  justify-content: right;
  width: 50%;
  margin-right: 5%;
}
body main .qrcode .qrcode__img img {
  position: relative;
  margin-left: 50px;
}
body main .genNotab {
  color: #fff;
  margin-top: 5%;
  position: relative;
}
body main .genNotab .genNotab__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .genNotab .genNotab__img .arrow {
  position: absolute;
  margin-left: 50%;
}
body main .genNotab .genNotab__text {
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
  align-items: center;
}
body main .genNotab .genNotab__text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
}
body main .genNotab .genNotab__text p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body main .ordering {
  color: #fff;
  position: relative;
  margin-top: 10%;
}
body main .ordering .ordering__text {
  display: flex;
  flex-direction: column;
  margin-left: 60%;
}
body main .ordering .ordering__text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  margin: 0;
}
body main .ordering .ordering__text p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body main .ordering .ordering__img {
  z-index: 0;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
}
body main .ordering .ordering__box {
  width: 60%;
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .ordering .ordering__box .box {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 18px;
  min-height: 50px;
  border: 1px solid #fff;
  vertical-align: middle;
  margin-top: 50px;
}
body main .ordering .ordering__box .box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  margin: 20px;
}
body main .userForm {
  position: relative;
  z-index: 1000;
  margin: 10% auto;
  margin-top: -15%;
  color: #fff;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
body main .userForm .userForm__text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
}
body main .userForm .userForm__text p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body main .userForm form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #BFBFBF;
}
body main .userForm form input {
  border-radius: 10px;
  height: 70px;
  background: #FFFFFF;
  border: 1px solid #5C5C5C;
  width: 100%;
  margin-top: 20px;
  text-indent: 20px;
}
body main .userForm form textarea {
  margin-top: 20px;
  width: 100%;
  padding-top: 10px;
  text-indent: 20px;
  margin-bottom: 10px;
  border: 1px solid #5C5C5C;
  background: #ffffff;
  line-height: 40px;
  border-width: 0;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
body main .userForm form .two {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
body main .userForm form .two input {
  width: 48%;
}
body main .userForm form button {
  cursor: pointer;
  margin: 6% 0;
  width: 40%;
  color: #fff;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  background: none;
}
body main .userForm form button p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
body main .userForm .userForm_download {
  margin: 0 auto;
}
body main .userForm .userForm_download .download__text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
body main .userForm .userForm_download .download__button {
  justify-content: space-around;
  display: flex;
  width: 500px;
}
body main .userForm .userForm_download .download__button button {
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 60px;
  background: none;
  border: 1px solid #ffffff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  cursor: auto;
}
body main .userForm .userForm_download .download__button button img {
  width: auto;
  margin: auto;
}
body main .userForm .userForm_download .download__button button .button_text {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body main .userForm .userForm_download .download__button button .button_text h3 {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
}
body main .userForm .userForm_download .download__button button .button_text p {
  font-size: 12px;
  margin: 0;
}
body main .userForm .userForm_download .download__button button:hover {
  opacity: 0.8;
}
body .footerr {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  z-index: 1000;
}
body .footerr a {
  font-style: bold;
  border-bottom: none;
}
body .footerr h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}
body .footerr p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
body .footerr h3 {
  font-style: bold;
  font-weight: 500;
  font-size: 18px;
}
body .footerr h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}