body {
  background-color: #000000;
}
body header {
  background: #726767;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
body header .header__logo {
  display: flex;
  margin-left: 5%;
}
body header .header__login {
  display: flex;
  flex-direction: row;
}
body main {
  background: rgba(0, 0, 255, 0.288);
}
body main .wrapper {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
body main .wrapper .wrapper__text {
  margin-top: 10%;
  margin-left: 5%;
  width: 500px;
}
body main .wrapper .wrapper__text h1 {
  font-size: 70px;
}
body main .wrapper .wrapper__text h3 {
  font-size: 32px;
}
body main .wrapper .wrapper__img {
  margin-right: 10%;
}
body main .download {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
body main .download button {
  background: none;
  border: 2px solid #ffffff;
  color: white;
  text-decoration: none;
  border-radius: 12px;
}