
body{
    background-color: #000000;
    margin: 0;
        background-image: url(/img/decor.png);
        background-repeat: no-repeat;
        background-position: top right, center left;
       
        
       
    header{
       
       position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: rgb(255, 255, 255);
        max-width: 400px;
        margin-left: 4%;
        z-index: 1000;
       
        .header__logo{
            display: flex;
            text-align: center;
            h1{
                display: flex;
                 align-items: center;
                 font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 2em;
            }
        }
        .header-login{
            
            display: flex;
            flex-direction: row;
            margin-left: 50%;
           a{
               
            margin-left: 10%;
           }
        }
    }
a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    
    border-bottom: 1px solid rgb(255, 255, 255); /* Добавляем подчеркивание сплошной линией черного цвета */
padding-bottom: 1px;
   }
   a:hover { 
    border-bottom: 1px solid rgba(0,0,0,0); /* Делаем подчеркивание прозрачным */
}

    main{
        /*max-width: 1400px;*/
        margin: 0 auto;
        
        .wrapper{
            position: relative;
            z-index: 100;
            color: #fff;
            display: flex;
            justify-content: space-between;
            
            .wrapper__text{
               
                position: relative;
                margin-top: 10%;
                margin-left: 5%;
                max-width: 700px;
            
                h1{
                   font-size: 64px; 
                   font-family: 'Montserrat', sans-serif;
                }

                .wrapper__text__bottom{
                    display: flex;

                    h3{
                        font-family: 'Noto Sans', sans-serif;
                        line-height: 27px;
                        font-weight: normal;
                        
                        font-size: 20px; 
                        margin: auto 90px 0;/* сверху | горизонтально | снизу */
                    }
                    .Vl{
                        width: 4px; /* Line width */
                        height: 130px; /* Override in-line if you want specific height. */
                        background-color: rgb(255, 255, 255); /* Line color */

                        transform: rotate(30deg);
                        transform-origin: bottom left;

                        
                        
                    }
                }
                
                }
               

            .wrapper__img{
                margin-left: auto; 
            }
        }

        .download{
            color: #fff;
            position: relative;
            z-index: 1000;
            margin: -80px 5% 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .download__text{
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 35px;
                    
                }
                
            }

            .download__button{
                justify-content: space-around;
                display: flex;
                width: 500px;
                button{
                    display: flex;

                     flex-direction: row;
     
                     width: 220px;
                     height: 60px;
     
                     background: none;
                     border: 1px solid #ffffff;
                     color: white;
                     text-decoration: none;
                     border-radius: 10px;
                     cursor:auto;
                     img{
                         width: auto;
                         margin: auto;
                     }

                     .button_text{
                        margin: auto;
                         display: flex;
                         flex-direction: column;
                         
                         align-items: flex-start;
                         h3{
                            
                             font-size: 2em;
                             margin: 0;
                             font-weight: normal;
                         }
                         p{
                             font-size: 12px;
                             margin: 0;
                         }
                     }
                     
                 }
                 button:hover{
                     opacity: 0.8;
                 }

                
                 

            }
        }

        .cokie{
            color: #fff;
            display: flex;
            justify-content: space-between;
            background-color: #212834 ;
            height: 95px;
            align-items: center;
            .cokie__text{
                margin-left: 5%;
                text-align: center;
                font-family: 'Noto Sans', sans-serif;
                        line-height: 14px;
                        font-weight: normal;
            }
            button{
                height: 50px;
                width: 132px;
                margin-right: 1%;

                background: #ffffff14;
               
                border: 0.5px solid #ffffff;
                color: white;
                text-decoration: none;
                border-radius: 6px;
                cursor: pointer;
                opacity: 0.7;
            }
            button:hover{
                opacity: 1;
            }
            
        }

        .contact{
            margin-top: 5%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            .box{
                font-family: 'Noto Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;


                border-radius: 18px;
                width: 500px;
                height: 312px;
                border:2px solid #fff;
                vertical-align: middle;
                margin-left: 5%;

                .box__text{
                    
                    
                   
                    font-size: 30px;
                    .box__link{
                        margin-top: 5%;                        
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 33px;
                    }
                }
                
            }
        }
        .mission{
            display: flex;
            color: #fff;
            justify-content: space-evenly;
            align-items: center;

            .mission__img{
                transform: translateX(-100%);
                width: 600px;
            }
            .mission__text{
                
                width: 360px;
                display: flex;
                flex-direction: column;
                margin-bottom: 200px;
                
                
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 51px;
                    
                }
                p{
                    font-family: Noto Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                   
                }
            }
        }
        .back{
            overflow: hidden;
            display: flex;
            margin-top: 5%;
            
            img{
                z-index: 0;
                position: relative;
                width: 100%;
                
            }
            .gradient{
                
                position: absolute;
                width: 100%;
                height: 72vw;
                left: 0px;

                background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);

                .phone{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    img{
                        width: auto;
                    }
                }
            }

            


        }
        .verification{
            
                color: #fff;
                /*background-image: url(/img/bar.png);
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;*/
                z-index: 100;
                
                display: flex;
                align-items: center;
            justify-content: space-around;

    
                .verification__img{
                    position: relative;
                    margin-top: auto;
                    
                    img{
                       
                        margin-left: 50px;
                        margin-top: -1000px;
                    }

                }
                    .verification__text{
                        margin-bottom: 10%;
                        margin-top: auto;
                        position: relative;
                        width: 400px;
                        h1{

                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 51px;
                            margin-top: 0;
                        }
                        p{
                            font-family: 'Noto Sans', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                        }
                    }
            
        }
        .ellipse{
            position: absolute;
        }

        .integration{
            margin-top: 5%;
            display: flex;
            
            color: #fff;
            .integration__text{
               margin-left: auto;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 51px;
                }
                p{
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                }
            }
                 /* <div class="ladder"> <img src="/img/Test_Landing/Group 559.png" alt="" style="float: right;">
                <img src="/img/Test_Landing/Group 562.png" alt="" style="float: right; top: 170px; right: -50px;">
                <img src="/img/Test_Landing/Group 561.png" alt="" style="float: right; top: 170px; right: -50px;"> </div>
            <div class="ladder">  <img src="/img/Test_Landing/Group.png" alt=""></div>*/
            .integration__img{
                margin-top: 150px;
                margin-left: -50px;
                min-width: 50%;
                margin-right: auto;
                
                display: flex;
                flex-direction: column;
                .ladder{ 
                    
                    height: 100%;
                    margin-bottom: 5%;
                    
                    img{
                    position: relative;
                }

                }
               
               
            }
        }

        .qrcode{
            position: relative;
            z-index: 2000;
            
            display: flex;
            color: #fff;

            align-items: flex-end;
            
            top: -400px;
            .qrcode__text{
               margin: 0 auto;
                width: 315px;
                h1{
                    margin-top: 0;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 51px;
                    font-family: 'Montserrat', sans-serif;
                }
                p{
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                }

                .qrcode__btn{
                    margin-top: 50px;
                    display: flex;
                    width: 500px;
                    button{
                        display: flex;
                        margin-right: 35px;
         
                         flex-direction: row;
         
                         width: 212px;
                         height: 55px;
         
                         background: none;
                         border: 1px solid #ffffff;
                         color: white;
                         text-decoration: none;
                         border-radius: 10px;
                         cursor:auto;
                         img{
                             margin: auto;
                         }

                         .button_text{
                            margin: auto;
                             display: flex;
                             flex-direction: column;
                             
                             align-items: flex-start;
                             h3{
                                
                                 font-size: 22px;
                                 margin: 0;
                                 font-weight: normal;
                             }
                             p{
                                 font-size: 14px;
                                 margin: 0;
                             }
                         }
                         
                     }
                     button:hover{
                         opacity: 0.8;
                     }
    
                    
                     }

                }
                .qrcode__img{
                    z-index: 2500;
                    
                    display: flex;
                    justify-content: right;
                    width: 50%;
                   margin-right: 5%;
                    img{
                        position: relative;
                        margin-left: 50px;
                       

                    }

               
            }
        }
        .genNotab{
            color: #fff;
           margin-top: 5%;
            position: relative;
            .genNotab__img{
                display: flex;
                justify-content: center;
                align-items: center;
                .arrow{
                    img{
                        position: relative;
                        right: 80px;
                    }
                    position: absolute;
                    margin-left: 50%;
                }
            }
            .genNotab__text{
                display: flex;
                justify-content: space-between;
                margin: 0 7%;
                align-items: center;
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 51px;
                }
                p{
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                }
                }
        }

        .ordering{
            color: #fff;
            position: relative;
            margin-top: 10%;
            .ordering__text{
                display: flex;
                flex-direction: column;
                margin-left: 60%;
                
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 51px;
                    margin: 0 ;
                }
                p{
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                }
                

            }
            .ordering__img{
                z-index: 0;
                left: 0;
                right: 0;
                text-align: center;
                position:absolute;
            }
            .ordering__box{
                width: 60%;
                margin: 0 auto;
                margin-top: 150px;
                position: relative;
               z-index: 100;
                display: flex;
                flex-direction: column;
                align-items: center;

                .box{
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
             background-color: black;
    
                    border-radius: 18px;
                    
                    min-height: 50px;
                    border:1px solid #fff;
                    vertical-align: middle;
                    margin-top: 50px;
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 23px;
                        margin: 20px;
                    }
                }
                

            }
        }

        .userForm{
            position: relative;
            z-index: 1000;
            margin: 10% auto;
            margin-top: -15%;
            color: #fff;
            width: 60%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            
            .userForm__text{
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 51px;

                }
                
                p{
                    font-family: 'Noto Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                }
            }

            form{
                ::-webkit-input-placeholder { /* WebKit browsers */
                color: #BFBFBF;
                
                }
                .formError{
                    border: 2px solid red ;
                }
                
                input{
                    border-radius: 10px;
                    height: 70px;
                    background: #FFFFFF;
                    border: 2px solid #5C5C5C;
                    width: 100%;
                    margin-top: 20px;
                    text-indent: 20px;
                }
                textarea{
                    
                    margin-top: 20px;
                    width: 100%;
                    padding-top: 10px;
                    text-indent: 20px;
                    margin-bottom: 10px;
                    border: 1px solid #5C5C5C;
                    background: #ffffff;
                    line-height: 40px;
                    border-width: 0;
                    border-radius: 10px;
                    font-family: 'Roboto', sans-serif;
                }
            
                .two{
                    display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: nowrap;
                    input{
                        width: 48%;
                    }

                }
                
                button{
                    cursor: pointer;
                    margin: 6% 0;
                      width: 40%;
                    color: #fff;
                    border: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background: none;
                    
                    p{
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                    }
                   
                    &:hover{
                        background-color: rgb(31, 31, 31);
                       
                    }
                    &:active{
                        background: rgb(48, 0, 59);
                    }
                }
                
                
            }
            
            .userForm_download{
                .download__text{
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                }
                margin: 0 auto;
                .download__button{
                    justify-content: space-around;
                    display: flex;
                    width: 500px;
                    button{
                        display: flex;
  
                         flex-direction: row;
         
                         width: 220px;
                         height: 60px;
         
                         background: none;
                         border: 1px solid #ffffff;
                         color: white;
                         text-decoration: none;
                         border-radius: 10px;
                         cursor:auto;
                         img{
                             width: auto;
                             margin: auto;
                         }

                         .button_text{
                            margin: auto;
                             display: flex;
                             flex-direction: column;
                             
                             align-items: flex-start;
                             h3{
                                
                                 font-size: 2em;
                                 margin: 0;
                                 font-weight: normal;
                             }
                             p{
                                 font-size: 12px;
                                 margin: 0;
                             }
                         }
                         
                     }
                     button:hover{
                         opacity: 0.8;
                     }
    
                    
                     

                }
            }
            
        }
    }

    .footerr{
        
        
        margin: 0 10%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        color: #fff;
        font-family: 'Noto Sans', sans-serif;
        z-index: 1000;
        a{
            font-style: bold;
            border-bottom: none;
        }
        h1{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: bold;  
            font-size: 22px;

        }
        p{
            
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
            
        }
        h3{
            
            font-style: bold;
            font-weight: 500;
            font-size: 18px;
        }
        h2{
           
            font-style: normal;
            font-weight: 800;
            font-size: 18px;

        }
    }
    
    
}
@media screen and (max-device-width: 600px) {
   
    
    body {
        header{

            
            align-items: center;   
            width: 100% !important;
            margin: 0 ;
          
           
            .header__logo{
                margin-left: 3%;
             
            }
            .header-login{
                
                margin-right: 5%; 
                
               a{
                   
                margin-left: 10%;
               }
            }
        }
        color: #000;
      background-color: rgb(0, 0, 0);
      header{
          max-width: 1000px;
      }
   main{
        .wrapper{
        align-items: center;
        
            .wrapper__text{
                margin-top: -10%;
                
                h1{
                font-size: 64px; 
                font-family: 'Montserrat', sans-serif;
                }

                .wrapper__text__bottom{
                    display: flex;

                    h3{
                        font-family: 'Noto Sans', sans-serif;
                        line-height: 27px;
                        font-weight: normal;
                        
                        font-size: 20px; 
                        margin: auto 0px 0;/* сверху | горизонтально | снизу */
                    }
                    .Vl{
                        display: none;
                    }
                }
                
                }
            

            .wrapper__img{
                width: 100%;
                }
            }

            .download{
                margin: -80px 0 0;
                flex-direction: column;
                .download__text{
                    h1{
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 35px;
                                            }
                                    }
                    .download__button{
                    justify-content: space-around;
                    display: flex;                   
                    width: 500px;
                }
            }
            .contact{
                margin-top: 0;
                flex-direction: column;
                .box{
                    margin-top: 5%;
                     width: 400px;
                    height: auto;
       
                    margin-left: 0;
                    .box__text{
                        
                        margin: 10%;
 
                    }
                    
                }
            }
            .mission{
                
                justify-content: space-evenly;
                align-items: flex-start;
                flex-direction: column-reverse;
    
                .mission__img{
                    margin: 0 auto;
                    transform: rotate(-90deg);
                    width: 600px;
                    img{
                        position: relative;
                        left: -225px;
                        width: auto !important;
                    }
                }
                .mission__text{
                    width: 90%;
                    margin: 5% 0;
                    margin-left: 5%;
                    h1{           
                        font-size: 24px;
                    }
                    p{
                    font-size: 16px;                  
                    }
                }
            }
            .verification{
            
                color: #fff;
                /*background-image: url(/img/bar.png);
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;*/
                z-index: 100;
                
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column-reverse;
    
                .verification__img{
                    position: relative;
                    margin-top: auto;
                    display: flex;
                    flex-direction: column;
                    img{
                       
                        margin-left: 0px;
                        margin-top: 10%;
                    }

                }
                    .verification__text{
                        margin: 0 5%;
                        margin-bottom: 0%;
                        margin-top: auto;
                        position: relative;
                        width: auto;
                        
                        h1{
                            font-size: 24px;
                            margin-top: 0;
                        }
                        p{
                            font-size: 16px;
                        }
                    }
            
        }
        .integration{
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            
            color: #fff;
            .integration__text{
               margin: 0 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;
                h1{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }
            }
            .integration__img{
                margin-top: 0px;
                margin-left: -100px;
                min-width: 50%;
                margin-right: auto;
                
                display: flex;
                flex-direction: column;
        
            }
        }
        .back{
            overflow: hidden;
            display: flex;
            margin-top: 5%;
            flex-direction: column;
            img{
                z-index: 0;
                position: relative;
                width: 100%;
                
            }
            .gradient{
                
                position: absolute;
                width: 100%;
                height: 72vw;
                left: 0px;

                background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);

                .phone{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    img{
                        width: auto;
                    }
                }
            }

        }
        .qrcode{
            position: relative;
            z-index: 2000;
            flex-direction: column;
            
            display: flex;
            color: #fff;

            align-items:center;
            
            top: -1265px;
            margin-bottom: -900px;
            .qrcode__text{
               margin: 0 5%;
               margin-bottom: 10%;
                width: auto;
                
                h1{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }

                .qrcode__btn{
                    flex-direction: column;
                    align-items: center;
                    display: flex;
                    width: auto;
                    button{
                        margin-bottom: 20px;           
                     }
  
                     }

                }
                .qrcode__img{
                    display: flex;
                    flex-direction: column;            
                    width: 50%;
                   margin-right: 0%;
                    img{
                        margin-top: 10%;
                        top: 0!important;
                        position: relative;
                        margin-left: 0px;
                       

                    }
            }
        }
        .genNotab{
            display: flex;
            flex-direction: column-reverse;
            margin-top: -30%;
            .genNotab__img{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .arrow{
                position: relative;
                margin-left: 40%;
                    img{
                        position: relative;
                        right: 0px;
                        transform: rotate(50deg);
                    }
                   
                    
                }
            }
            .genNotab__text{
                flex-direction: column;
                justify-content: space-between;
                margin: 5% 5%;
                align-items: flex-start;
                h1{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }
                }
        }
        .ordering{
            color: #fff;
            position: relative;
            margin-top: 10%;
            .ordering__text{
                display: flex;
                flex-direction: column;
                margin-left: 0;
                margin-left: 5%;
                margin-bottom: 20%;
                h1{

                    font-size: 24px;
                    margin: 0 ;
                }
                p{

                    font-size: 16px;
                }
                

            }
            .ordering__img{
            width: auto;
            }
            .ordering__box{
               
                margin-top: -150px;
                .box1{
                    margin-left: 0 !important;
                    margin-right: 300px !important;
                }
                .box2{
                    margin-right: 0 !important;
                    margin-left:  180px !important;
                }
                .box3{
                    margin-top: 860px !important;
                    margin-left: auto !important;
                }
                .box4{
                    margin-top: -250px !important;
                    margin-right: auto;
                }

            }

        }
        .back3{display: none;}
        .ellipse3{ margin-top: 0px !important;}
        .userForm{
            position: relative;
            z-index: 1000;
            margin: 10% auto;
            margin-top: 30%;
            color: #fff;
            width: 90%;
         
            
            .userForm__text{
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;

                }
                
                p{
                    font-family: 'Noto Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                }
            }

            form{
                ::-webkit-input-placeholder { /* WebKit browsers */
                color: #BFBFBF;
                
                }
                .formError{
                    border: 2px solid red ;
                }
                
                input{
                    border-radius: 10px;
                    height: 57px;
                    background: #FFFFFF;
                    border: 2px solid #5C5C5C;
                    width: 100%;
                    margin-top: 20px;
                    text-indent: 20px;
                }
                textarea{
                    
                height: 150px !important;
                }
            
                .two{
                    display: flex;
                flex-direction: column;
                    input{
                        width: 100%;
                    }

                }
                
                button{
                    cursor: pointer;
                    margin: 6% 0;
                      width: 40%;
                    color: #fff;
                    border: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background: none;
                    
                    p{
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                    }
                   
                    &:hover{
                        background-color: rgb(31, 31, 31);
                       
                    }
                    &:active{
                        background: rgb(48, 0, 59);
                    }
                }
                
                
            }
            
            .userForm_download{
                .download__text{
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                }
                margin: 0 auto;
                .download__button{
                    justify-content: space-around;
                    display: flex;
                    width: 500px;
                    button{
                        display: flex;
  
                         flex-direction: row;
         
                         width: 220px;
                         height: 60px;
         
                         background: none;
                         border: 1px solid #ffffff;
                         color: white;
                         text-decoration: none;
                         border-radius: 10px;
                         cursor:auto;
                         img{
                             width: auto;
                             margin: auto;
                         }

                         .button_text{
                            margin: auto;
                             display: flex;
                             flex-direction: column;
                             
                             align-items: flex-start;
                             h3{
                                
                                 font-size: 2em;
                                 margin: 0;
                                 font-weight: normal;
                             }
                             p{
                                 font-size: 12px;
                                 margin: 0;
                             }
                         }
                         
                     }
                     button:hover{
                         opacity: 0.8;
                     }
    
                    
                     

                }
            }
            
        }
        .gradient8{
            height: 100vw !important;
        }
        .back{
            .img_marcela{
                margin-bottom: 300px !important;
            }

        }
        .Nightlife{
            float: left !important;
            margin-right: 0;
            margin-left: 5%;
            margin-top: 1502px;
        }
        .cokie{
            display: none;
        }
        
    }

   }
    
  }